// Import Partial CSS
@import '../partials/_reset';
@import '../partials/_clearfix';

// Create Main Variable
$main-color : #6927ff;
$bright-color : #FFFFFF;
$dark-color : #000000;
$main-font: 'Open Sans',
sans-serif;

// Header
.header {
    text-align: center;
    background: #7c48f5;
    padding: 50px;
}