// Import Partial CSS
@import '../partials/_reset';
@import '../partials/_clearfix';

// Create Main Variable
$main-color : #6927ff;
$bright-color : #FFFFFF;
$dark-color : #000000;
$main-font: 'Open Sans',
sans-serif;

// Header
.header {
    text-align: center;
    background: #7c48f5;
    padding: 50px;
    color: $bright-color;
    font-family: $main-font;

    .header__title {
        font-size: 42px;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .header__sub-title {
        font-size: 24px;
        margin-top: 0px;
    }
}

// navbar
#navbar {
    overflow: hidden;
    background-color: $main-color;
    max-height: 60px;

    .navbar__brand {
        color: $bright-color;
        text-decoration: none;
        float: left;
        display: block;
        padding: 20px;
        letter-spacing: .1em;
        border-right: .5px solid #b6a1e7;
        box-shadow: 0 6px 4px 0 hsla(0, 0%, 0%, 0.08);

        &.navbar__brand:hover {
            background: #4b0ddb;
        }
    }
}